{%extends 'base.html'%}
{% load static %}
{% block content %}

{{block.super}}



    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

        <h1 class="fw-light">{{category.title}}</h1>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% if images|length > 0 %}
        {% for image in images %}
        <div class="col">
          <div class="card shadow-sm">

            <img src="{{image.landImage.url}}" alt="{{image.altText}}">

            <div class="card-body">
              <p class="card-text">{{image.shortDescription}} . . . <a href="{% url 'image-detail' slug1=category.slug slug2=image.slug %}">read more</a></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'image-detail' slug1=category.slug slug2=image.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">Image Details</button></a>
                </div>
                <small class="text-muted">{{image.date_created|date}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>No Images Uploaded for this category</h2>
        {% endif %}

      </div>
    </div>
  </div>

</main>
{% endblock  %}



    

